.location {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.location > svg {
    margin-right: 5px;
}

.location .city {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 92px;
    overflow: hidden;
}