.container {
    height: 82px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
    padding-left: 51px;
    padding-right: 4vw;

}

.logo {
    all: unset;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 37px;
    color: var(--primary_dark);
    cursor: pointer;
}

.geo_icon {

}

.geo_section {
    flex-shrink: 2;
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
}

.search_section {
    height: 50px;
    width: 100%;
    position: relative;
    margin: 5px;
}

.search_input {
    all: unset;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    border: 1px solid var(--secondary_blue);
    padding-left: 20px;
    font-weight: 400;
    font-size: 14px;

    color: var(--primary_dark);
}

.search_input::placeholder {
    color: var(--secondary_dark);
    font-size: 16px;
    font-weight: 400;
    transition: var(--transition);
}

.search_input:focus::placeholder {
    opacity: 0;
}

.search_btn {
    all: unset;
    cursor: pointer;
    position: absolute;
    background-color: var(--secondary_blue);
    transform: translate(0, -50%);
    top: 50%;
    right: calc(0% + 3px);
    height: calc(100% - 5px);
    width: 94px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {

    all: unset;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    border-radius: 999px;
    border: 1px var(--primary_dark) solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_counter {
    position: absolute;

    top: 0%;
    right: 0%;
    color: var(--accent_blue);
    background-color: white;
}

.avatar {
    all: unset;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    border-radius: 999px;
    background-color: #d5dfec;
}

@media (max-width: 600px) {
   .container {
        flex-wrap: wrap;
        grid-gap: 3px;
        height: unset;
        padding: 5px;
    }
    .search_section {order: 3}
    .cart {order: 2}
    .avatar {order:1}
}