.footer {
    background: #F8F8F8;
    height: 215px;
}

.bottomText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomText a, p {
    display: inline-block;
    margin: 20px 20px 35px;
    text-decoration: none;
    color: #8D8D8E;
    transition: all .3s ease-out;
    cursor: pointer;
}

.bottomText a:hover {
    color: #2D2D2F;
}

