.searchBar {
    margin: 0 15px 0 20px;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-width: 60%;
}

.searchBar .inputSearch {
    width: 100%;
    border: 1px solid #F0F4FB;
    border-radius: 36px;
    padding: 15px 70px 15px 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.searchBar .inputSearch:focus-visible {
    outline: none;
}

.searchBar .btnSearch {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    background: #F0F4FB;
    border-radius: 41px;
    padding: 10px 38px;
    border: none;
    cursor: pointer;
}